{% extends "layout/basic.html" %}
{% load django_bootstrap5 %}


{% block title %}Добавление объявления{% endblock %}

{% block content %}
<h2>Добавление объявления</h2>

    {% if form.is_multipart %}
        <form method="post" enctype="multipart/form-data">
    {% else %}
        <form method="post">
    {% endif %}
        {% csrf_token %}
{#        {{ form.as_p }} #}
{#          {% bootstrap_form form %} #}
{#          {% bootstrap_form form layout='horizontal' show_help=True size='sm' %}#}
{#          {% bootstrap_form form exclude='price,rubric' %}#}

            {% bootstrap_field form.rubric %}
            {% bootstrap_field form.title placeholder='Товар' show_label=false %}

            {% bootstrap_form form exclude='rubric,title' %}
            {% bootstrap_button 'Добавить' %}

{#        <button type="submit">Добавить</button>#}
    </form>

{% endblock %}