{% extends "layout/basic.html" %}


{% block title %}{{ current_rubric }}{% endblock %}

{% block content %}
    <h2>Рубрика: {{ current_rubric.name }}</h2>
    {% for bb in bbs %}
    {% url 'bboard:detail' bb.pk as detail_url %}
    <div class="{% cycle 'bb1' 'bb2' %}">
        {% if forloop.first %}
            <h2 style="font-size: 49px">{{ forloop.counter }}.
                <a href="{{ detail_url }}">{{ bb.title }}</a>
        </h2>
        {% else %}
            <h2>{{ forloop.counter }}.
                <a href="{{ detail_url }}">{{ bb.title }}</a>
        </h2>
        {% endif %}
        <p>{{ bb.content }}</p>

        {% ifchanged bb.rubric.pk %}
            <p><a href="{% url 'bboard:by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
        {% endifchanged %}

        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        {# Домашка #}
        {% comment 'Домашка' %}
            {% firstof bb.phone bb.email 'На деревню дедушке' %}
        {% endcomment %}
    </div>
    {% endfor %}


    {% comment %}
        {% lorem 5 p %}
        {% debug %}
    {% endcomment %}

{% endblock %}