<nav>
    <a href="{% url 'bboard:index' %}">Главная</a>
    <a href="{% url 'bboard:add' %}">Добавить</a>
    <a href="{% url 'bboard:rubrics' %}">Рубрики</a>
    {% if user.is_anonymous %}
        <a href="{% url 'bboard:login' %}">Вход</a>
    {% else %}
        <form action="{% url 'bboard:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Выход" class="btn btn-link btn-lg">
        </form>
    {% endif %}
    <hr>
    {% for rubric in rubrics %}
        <a href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric.name }}
            ({{ rubric.cnt }})</a>
    {% endfor %}
</nav>

